/* Home.html Body */


/* Cover Image Section */
#bodyCoverImage {
    background-image: url("images/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 40em; 
    padding-top: 5em;
    padding-bottom: 5em;
    
}
#imageCol {
    justify-content: right;
    max-width: 400px;
    min-width: 400px;
    overflow: hidden;
    

}
#textCol {
    justify-content: left;
    max-width: 400px;
    min-width: 400px;
}
#KappaMooImage {
    padding-right: 2%;
}
#CoverTextHeader {
    padding-top: 40%;
    color: #FD853D;
    font-size: 50px;
    font-weight: 500;
    text-align: left;
}
#CoverTextDesc {
    color: white;
    font-size: 20px;
    font-weight: 350;
    text-align: left;
    padding-right: 40%;
}


/* About Us and Purpose */
/*row*/
#aboutnPurpose { 
    background-color: rgb(46, 33, 121);
    min-height: 20em;
} 

/* Col */
#aboutUsCol {
    max-width: 450px;
    min-width: 450px;
}
#purposeCol {
    max-width: 450px;
    min-width: 450px;
}
#divideXCol {
    border: 1px solid white;
    text-align: center;
    padding-top: 8em;
    color: white;
    font-weight: 10;
    margin: 0;
    width: 10%;
    max-width: 100px;
}
/* Text */
#aboutUs, #purpose{
    text-align: center;
    color: white;
    margin-top: 1em;
    border-bottom: 2px solid white;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 10px;
}
#apDesc {
    color: white;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 20px;
    font-weight: 350;
}




/* Leadership */
#leadershipRow {
    background-color: #D9D9D9;
    /* justify-content: center; */
}
#leadershipHeading {
    text-align: center;
    color:#291569;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: .5em;
}
#leadershipColImg {
    max-width: 400px;
    min-width: 400px;
    text-align: center;
}

#leadershipColText {
    padding-top: 5em;
    overflow: none;
    max-width: 400px;
    min-width: 400px;
    text-align: left;
}

#imageSquare {
    background-color: white;
    height: 350px;
    width: 350px;
    border-bottom: 5px solid #291569;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    border-radius: 50px;
    padding-right: 0;
    /* margin-left: 12%; */

}


#lcName {   
    color: #291569;
    font-size: 35px;
    font-weight: 500;
    padding-left: .2em;
    padding-bottom: .5em;
}
#desc {
    color: #291569;
    padding-left: 1em;
    font-size: 20px;
    font-weight: 400;
    min-width: 200px; 

}










